.col2{
	position:relative;
	border:1px solid black;
	background:white;
	top:-580px;
	left:600px;
	right:2.5%;
	width:580px;
}

.icone{
	margin-left:15px;
	margin-top:15px;
	margin-bottom:20px;
	width:80px;
	height:80px;
}

h3{
	line-height:0px;
}

#proche{
	position:absolute;
	top:30px;
	right:15px;
	width:70%;
	text-align:justify;
}

#economique{
	position:absolute;
	top:110px;
	right:15px;
	width:70%;
	text-align:justify;
}

#complet{
	position:absolute;
	top:250px;
	right:15px;
	width:70%;
	text-align:justify;
}

#francemap{
	position:absolute;
	background-image:url(../img/background_accueil.png);
	top:0px;
	left:-10Opx;
	width:50%; 
	height:600px;
}

.accueil{
	position:relative;
	width:1200px;
	height:550px;
	margin-left:auto;
	margin-right:auto;
}