.noter{
	position : relative;
	width : 1020px;
	margin:1px auto 0px auto;
	padding-bottom:10px;
	padding-top:10px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

h3{
    text-align:center;
}

form{
	position:relative;
	width:450px;
	left:280px;
}

label
{
	display: block;
	width: 150px;
	float: left;
	text-align:right;
}

.valider{
	margin-left:200px;
}