.container {
	position:relative;
	border: 1px solid black;
	background-image:linear-gradient(#999999,#8ACCFF);
	width:1018px;
	margin-left:auto;
	margin-right:auto
}

h3 {
	margin-left:10px;
}

p {
	margin-left:10px;
	margin-right:10px;
	text-align:justify;
}