.page{
	position:relative;
	top:-2px;
	width:1020px;
	margin-right:auto;
	margin-left:auto;
}
.formulaire {
	float:left;
	width:508px;
	height:330px;
	margin:2px 0px 0px 0px;
	border: 1px solid black;
	background-image:linear-gradient(#999999,#8ACCFF);
}

.champ{
	margin-left:15px;
}

h2 {
	margin-left:15px;
}

span.erreur{
	position:relative;
	margin-left:15px;
	top:-6px;
	color:red;
}