.detailsAnnonce{
	position : relative;
	width : 1020px;
	margin:1px auto 0px auto;
	padding-bottom:10px;
	padding-top:10px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

.details{
	position:relative;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:40px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.col{
	display:inline-block;
}

#col1-images{
	width:312px;
	padding:20px;
}

.img1{
	position:relative;
	padding:2px;
	width:308px;
	height:200px;
}

.img2{
	position:relative;
	left:2px;
	width:308px;
	height:52px;
}

#col2{
	width:270px;
}

#col2 h4{
	color:#3366FF;
}

#col3{
	width:270px;
}

#contacter{
	position:relative;
	width:200px;
	height:100px;
	left:45px;
	border: 2px solid #999999 ;
	background-image:linear-gradient(#999999,#8ACCFF);
	text-align:center;
}

#reserver{
	position:relative;
	width:200px;
	left:46px;
}

.bouton{
	position :relative;
	width:130px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border:1px solid gray;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}

.lien{
	position:absolute;
	width:150px;
	padding:5px;
	border:2px solid #999999;
	background-image:linear-gradient(#999999,#8ACCFF);
	text-align:center;
}

#lien1{
	left:20px;
}

#lien2{
	left:175px;
}

#lien3{
	left:330px;
}

.lien:hover{
	background-image:linear-gradient(#8ACCFF,#999999);
}

.information{
	position:relative;
	width:850px;
	left:20px;
	top:30px;
	padding-left:5px;
	padding-right:5px;
	border:2px solid #999999;
	background-image:linear-gradient(#999999,#8ACCFF);
	text-align:justify;
	
}

#map-canvas {
        height:400px;
        width:600px;
        border:1px solid black;
        margin:auto;
        padding:0px;
}

.fond{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color: #808080;
	opacity: 0.5;
	z-index:1;
}

.reservation{
	position:absolute;
	width:500px;
	height:400px;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-250px;
	border:1px solid black;
	background-image:linear-gradient(#999999,#8ACCFF);
	z-index:2;
}

div h3{
	text-align:center;
}

label
{
	display: block;
	width: 150px;
	float: left;
	text-align:right;
}

#valider{
	margin-left:48px;
}

#annuler{
	margin-left:46px;
}

.valider{
	width:78px;
	font-size:0.9em;
	padding:5px 10px 5px 10px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}

.validerAnnuler{
	position:relative;
	width:300px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
}

.boutton{
	border:1px solid black;
	padding:10px 5px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}

.proprietaire{
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}

.profil{
	position:absolute;
	width:600px;
	height:350px;
	left:50%;
	margin-left:-300px;
	top:100px;
	background-image:linear-gradient(#999999,#8ACCFF);
	border:1px solid black;
	overflow:auto;
	z-index:2;
}

.photo{
	position:relative;
	width:90px;
	height:110px;
	left:482px;
}

.nom{
	position:relative;
	width:300px;
	font-size:1.2em;
	color:blue;
	top:20px;
	left:20px;
}


.note{
	width:450px;
	height:100px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	overflow-y:auto;
}

.noteUser{
	position:relative;
	top:-13px;
	left:350px;
}

.nomUser{
	position:relative;
	width:300px;
	top:5px;
	left:10px;
}

h5{
	margin-top:-9px;
	margin-bottom:4px;
	margin-left:10px;
	font-size:0.9em;
}

.commentaireUser{
	position:relative;
	margin-left:10px;
	margin-right:10px;
	text-align:justify;
}
