.boutton{
	position:relative;
	top:-15px;
    padding:10px;
	border:1px solid black;
    background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.description{
    position:relative;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	background-image:linear-gradient(#999999,#8ACCFF);
	border:1px solid black;
}

.description h3{
	text-align:left;
	margin-left:20px;
	margin-right:2Opx;
}

.description p{
	margin-left:20px;
	margin-right:20px;
	text-align:justify;
}

.bouttonImprimer{
	position:relative;
	top:68px;
	left:50px;
	border:1px solid black;
	padding:49px 145px;
	font-size:1.5em;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.contacter{
	position:relative;
	width:300px;
	height:125px;
	top:-10px;
	left:549px;
	background-image:linear-gradient(#999999,#8ACCFF);
	border:1px solid black;
}

.bouttonContacter{
	position:relative;
	width:120px;
	border:1px solid black;
	padding:9px;
	top:15px;
	margin-left:30px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}