.detailsAnnonce{
	position : relative;
	width : 1020px;
	margin:1px auto 0px auto;
	padding-bottom:10px;
	padding-top:10px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

.details{
	position:relative;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:40px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.col{
	display:inline-block;
}

#col_1{
	width:260px;
	padding:20px;
}

#col_2{
	width:350px;
}

#col_1 h3{
	color:#3366FF;
}

#col3{
	width:270px;
}

.contacter{
	position:relative;
	border:1px solid black;
	width:220px;
	height:111px;
	top:-30px;
	text-align:center;
	background-image:linear-gradient(#999999,#8ACCFF);
}

.boutton{
	border:1px solid black;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
	padding:10px;
}

.bouttonProposer{
	position:relative;
	top:20px;
	padding:20px 49px;
	border:1px solid black;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.description{
	position : relative;
	top:20px;
	width : 800px;
	margin-left:auto;
	margin-right:auto;
	border:1Px solid black;
	background-image:linear-gradient(#999999,#8ACCFF);
}

.description h4{
	margin-left:20px;
}

.description p{
	margin-left:20px;
	margin-right:20px;
	text-align:justify;
}

.fond{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color: #808080;
	opacity: 0.5;
}

.proposition{
	position:absolute;
	width:500px;
	height:280px;
	left:50%;
	margin-left:-250px;
	top:150px;
	border:1px solid black;
	background-image:linear-gradient(#999999,#8ACCFF);
	padding-top:10px;
	padding-bottom:10px;
	overflow: auto;
}

.proposition h4{
	margin-left:65px;
}

.proposition p{
	margin-left:20px;
	margin-right:20px;
	text-align:justify;
	color:red;
}

.annonceProp h4{
	color:#3366FF;
	margin-left:10px;
}

.annonceProp p{
	margin-left:10px;
}

.annonceProp{
	position:relative;
	width:350px;
	height:110px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	margin-bottom:5px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.proposer{
	position:relative;
	top:-20px;
	left:180px;
	border:1px solid black;
	padding:5px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.posterAnnonce{
	position:relative;
	top:30px;
	left:178px;
	border:1px solid black;
	padding:10px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}