.listeAnnonces{
	position : relative;
	top:-1px;
	width : 1020px;
	margin:2px auto 0px auto;
	padding-top:10px;
	padding-bottom:50px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

div.champ1 {
	display:inline-block;
	margin-left:15px;
	margin-top:5px;
	margin-bottom:5px;
}

div.champ2 {
	display:inline-block;
	margin-left:15px;
	margin-bottom:15px;
}

.annonce{
	position:relative;
	width:800px;
	height:170px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
	border:2px solid gray;
}

.col{
	display:inline-block;
}

#col_1{
	position:relative;
	margin-top:20px;
	margin-left:10px;
}

h4{
	color:#3366FF;
	margin-top:13px;
	margin-bottom:5px;
}

p{
	margin-top:0px;
}

#col_2{
	position:relative;
	width:280px;
	margin-left:10px;
}

#col_3{
	position:relative;
	width:280px;
	top:-55px;
}

#imgAnnonce{
	width:194px;
	height:126px;
	border:1px solid gray;
}

.details{
	position:relative;
	border:1px solid gray;
	padding:5px 30px;
	margin-left:650px;
	top:-40px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}