.listeUsers{
    position:relative;
    top:1px;
    width:786px;
    margin-left:auto;
    margin-right:auto;
    background-image:linear-gradient(#999999,#8ACCFF);
    padding-top:20px;
    padding-bottom:20px;
}

thead{
    text-align:left;
}

.col1{
    width:179px;
}

.col2{
    width:150px;
}

.col3{
    width:278px;
}

#detail{
    position:relative;
    left:20px;
    border-radius:1000px;
}

th,td{
	border-bottom:1px solid black;
	text-align:left;
}

table{
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
}

h3{
	text-align:center;
	color:blue;
}

.listeAnnonces{
	position:relative;
    top:1px;
    width:786px;
    margin-left:auto;
    margin-right:auto;
    background-image:linear-gradient(#999999,#8ACCFF);
    padding-top:20px;
    padding-bottom:20px;
}