.mesAnnonces{
	position : relative;
	width : 1020px;
	margin:1px auto 0px auto;
	padding-bottom:50px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

h2{
	padding-left:15px;
	padding-top:15px;
	margin-top:0px;
}

.annonce{
	position:relative;
	width:800px;
	height:170px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
	border:2px solid gray;
}

.col{
	display:inline-block;
}

#col_1{
	position:relative;
	margin-top:20px;
	margin-left:10px;
}

#col1{
	position:relative;
	margin-top:20px;
	margin-left:10px;
}

#col2{
	position:relative;
	margin-top:20px;
	margin-left:150px;
}

h4{
	color:#3366FF;
	margin-top:13px;
	margin-bottom:5px;
}

p{
	margin-top:0px;
}

#col_2{
	position:relative;
	top:-20px;
	width:280px;
	margin-left:10px;
}

#col_3{
	position:relative;
	width:280px;
	top:-55px;
}

#imgAnnonce{
	width:194px;
	height:126px;
	border:1px solid gray;
}

.modifier{
	position:relative;
	border:1px solid gray;
	padding:5px 30px;
	margin-left:500px;
	top:-40px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}

.supprimer{
	position:relative;
	border:1px solid gray;
	padding:5px 25px;
	margin-left:30px;
	top:-40px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}

.creerAnnonce{
	position:relative;
	left:691px;
	border:1px solid gray;
	padding:10px 20px;
	top:25px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	color:black;
}

a{
	text-decoration:none;
}