.mesLocations{
	position : relative;
	width : 1020px;
	margin: 1px auto 0px auto;
	padding-bottom:50px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

h2{
	padding-left:15px;
	padding-top:15px;
	margin-top:0px;
}

h3{
	text-align:center;
	color:red;
}

.reservation{
	position:relative;
	width:800px;
	height:170px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
	border:2px solid gray;
}

.col{
	display:inline-block;
}

#col_1{
	position:relative;
	margin-top:20px;
	margin-left:10px;
}

h4{
	color:#3366FF;
	margin-top:13px;
	margin-bottom:5px;
}

p{
	margin-top:2px;
}

#col_2{
	position:relative;
	top:-20px;
	width:280px;
	margin-left:10px;
}

#col_3{
	position:relative;
	width:280px;
	top:-55px;
}

#imgAnnonce{
	width:194px;
	height:126px;
	border:1px solid gray;
}

.bouton{
	position:relative;
	border:1px solid gray;
	padding:5px 20px;
	top:-40px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}

#details_1{
	left:600px;
}

#details_2{
	left:510px;
}

#annuler{
	left:510px;
}

#payer{
	left:510px;
}

#accepter{
	left:490px;
}

#refuser{
	left:490px;
}

#details_3{
	left:490px;
}