.mesMessages{
	position : relative;
	width : 1020px;
	margin: 1px auto 0px auto;
	padding-bottom:50px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

h2{
	position:relative;
	margin-top:0px;
	padding-bottom:20px;
	top:20px;
	text-align:center;
}

.message{
	position:relative;
	width:800px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	margin-bottom:5px;
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
	overflow:auto;
}

.emetteur{
	position:relative;
	top:5px;
	left:5px;
	width:300px;
}

.sujet{
	position:relative;
	top:5px;
	left:5px;
	width:500px;
}

.contenu{
	position:relative;
	width:630px;
	top:10px;
	margin-left:50px;
	text-align:justify;	
}

.repondre{
	position:relative;
	left:700px;
	top:15px;
	width:80px;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	border:1px solid black;
	cursor:pointer;
}