.modifierProfil{
    position : relative;
	width : 1020px;
	height:370px;
    margin: 0px auto 0px auto;
    padding-top:20px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

.formulaireModifierProfil{
    position:relative;
	width:600px;
	left:250px;
}

.formulaireProfil label
{
    display: block;
	width: 150px;
    float:left;
    text-align:right;
}

.valider{
	margin-left:250px;
}

h3{
	text-align:center;
}