.profil{
	position : relative;
	width : 1020px;
	height:370px;
	margin:-15px auto 0px auto;
	background-image:linear-gradient(#999999,#8ACCFF);
	text-align:center;
}

.details{
	width:1020px;
	text-align:left;
}

p{
	padding-left:95px;
}

.first-line{
	padding-top:20px;
}

#detailNote{
	margin-left:20px;
	border:1px solid black;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	padding:3px 3px;
}

#modifierProfil{
	border:1px solid black;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	padding:3px 5px;
}

a{
	text-decoration:none;
	color: black;
}

.photo{
	position:absolute;
	height:150px;
	width:125px;
	border:1px solid black;
	top:20px;
	left:800px;
}

