body{
	background-image:url(../img/background_accueil.png)
}

a{
	text-decoration:none;
}

#titre{
	position:relative;
	font-family:cursive;
	font-size:1.8em;
	color:black;
	left:10%;
}

h1{
	display:inline;
}

#posterAnnonce{
	position:absolute;
	top:30px;
	right:2%;
	border:1px solid;
	border-radius:5px;
	padding:10px;
	color:black;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
}

.form{
	position:absolute;
	top:80px;
	right:2%;
}

.rechercher{
	vertical-align:middle;
}

#recherche{
	font-size:1em;
	border:1px solid;
	border-radius:5px;
}


#submit{
	background:url(../img/search_icon.jpg);
	width:30px;
	height:30px;
}

.nav1{
	width:1200px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	margin:40px auto 0px auto;
	height:41px;
}

#nav1{
	float:left;
	width:238px;
	height:40px;
	text-align:center;
	border:1px solid black;
}

#nav1 :hover{
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}


#nav1 a{
	display:block;
	height:32px;
	padding-top:8px;
	color:black;
	font-size:1.3em;
}

.nav2{
	width:1020px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	margin:1px auto 0px auto;
	height:33px;
}

#nav2{
	float:left;
	width:202px;
	height:32px;
	text-align:center;
	border:1px solid black;
}

#nav2 :hover{
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

#nav2 a{
	display:block;
	height:28px;
	padding-top:4px;
	color:black;
	font-size:1.1em;
}

#nav3{
	float:left;
	width:260px;
	height:33px;
	text-align:center;
	border:1px solid black;
}

.nav3{
	width:786px;
	background-image:linear-gradient(#FFFFFF,#CCCCCC);
	margin:1px auto 0px auto;
	height:34px;
}

#nav3 a{
	display:block;
	height:25px;
	padding-top:8px;
	color:black;
	font-size:1.2em;
}

#nav3 :hover{
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

.active{
	background-image:linear-gradient(#CCCCCC,#FFFFFF);
}

