.posterMessage{
	position : relative;
	width : 1020px;
	margin: 1px auto 0px auto;
	padding-bottom:50px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

h2{
    margin-top:0px;
	position:relative;
	top:20px;
	padding-bottom:20px;
	text-align:center;
}

.formulaireMessage
{
	display: block;
	width: 150px;
	float: left;
	text-align:right;
}

.emetteur{
	margin-left:124px;
}

.destinataire{
	margin-left:131px;
}

.formMessage{
    position:relative;
	width:650px;
	margin-left:auto;
	margin-right:auto;
}

.valider{
	padding:5px 10px;
    background-image:linear-gradient(#CCCCCC,#FFFFFF);
	font-size:12px;
	margin-left:295px;
}



