.posterAnnonce{
	position : relative;
	width : 1020px;
	margin:1px auto 0px auto;
	padding-top:20px;
	padding-bottom:20px;
	background-image:linear-gradient(#999999,#8ACCFF);
}

.typeAnnonce{
	position :relative;
	width:400px;
	margin-left : auto;
	margin-right:auto;
	padding-bottom:10px;
	text-align:center;
}

#formulaireProprietaire{
	position:relative;
	width:600px;
	margin-left:280px;
}

#formulaireProprietaire label
{
	display: block;
	width: 150px;
	float: left;
	text-align:right;
}

#formulaireLocataire{
	position:relative;
	width:600px;
	margin-left:280px;
}

#formulaireLocataire label
{
	display: block;
	width: 150px;
	float: left;
	text-align:right;
}

.valider{
	position:relative;
	left:200px;
	margin-top:15px;
}

.erreur{
	font-size:0.9em;
	color:red;
}